{% extends "layout.html" %}
{% block mainContent %}
<div>
  Pre-schedule Appointment Form
</div>
<div id="confirmMsg" style="display: none;">
  <div>
    Thank you for pre-scheduling your appointment!
  </div>
  <form id="estimate-form" action="{{ url_for('waitPatients') }}" method="POST">
    <div style="display: none;">
        <label for="name1">Name:</label>
        <input type="text" value="" id="name1" name="name1" />
    </div>
    <div style="display: none;">
        <label for="date1">Date of birth:</label>
        <input type="date" value="" id="date1" name="date1">
    </div>
    <div style="display: none;">
      <label for="healthcard1">Health Card #:</label>
      <input type="number" value="" id="healthcard1" name="healthcard1">
    </div>
    <div style="display: none;">
      <label for="email1">Email:</label>
      <input type="text" value="" id="email1" name="email1" />
    </div>
    <div style="display: none;">
      <label for="vaccine-select1">Vaccine Type:</label>
      <select name="vaccinetype1" id="vaccine-select1">
        <option value="Pfizer">Pfizer</option>
        <option value="vaccine1">vaccine 1</option>
        <option value="vaccine2">vaccine 2</option>
      </select>
    </div>

    <div>
      <label for="estimateTime">Estimated wait-time:</label>
      <input type="text" value="" id="estimateTime" name="estimateTime" />
    </div>
    <input type="submit" value="Confirm" id="final-submit" />
  </form>
</div>
<form id="preSchedule-form" action="{{ url_for('waitPatients') }}">
  <div>
      <label for="name">Name:</label>
      <input type="text" value="" id="name" name="name" />
  </div>
  <div>
      <label for="date">Date of birth:</label>
      <input type="date" value="" id="date" name="date">
  </div>
  <div>
    <label for="healthcard">Health Card #:</label>
    <input type="number" value="" id="healthcard" name="healthcard">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" value="" id="email" name="email" />
  </div>
  <div>
    <select name="vaccinetype" id="vaccine-select">
      <option value="Pfizer">Pfizer</option>
      <option value="vaccine1">vaccine 1</option>
      <option value="vaccine2">vaccine 2</option>
    </select>
  </div>
  <input type="submit" value="Submit" id="preSchedule-submit" />
</form>
{% endblock %}